<h1><%= @task.title %> </h1>
<h2><%=@task.details %></h2>

<p>
      <% if @task.completed %>
        This task is ✅ Completed
      <% else %>
        This task is ❌ Not completed
      <% end %>
</p>

<%= link_to "Edit the Task", tasks_new_path(@task) %>
